<h2>Informações da Atividade</h2>
<br>
<h3><b>{{atividade.titulo}}</b></h3>
<p>{{atividade.texto}}</p>
<p><b>Prioridade: </b>{{atividade.prioridade}}</p>
<p><b>Data da Criação: </b>{{atividade.data}}</p>
<p><b>Atividade Executada:</b>{{#if atividade.executada}} Sim{{else}} Não{{/if}}</p>
<hr>
<br>
<a href="/">Voltar</a>